@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  @keyframes fade {
    0%   { opacity: 0; transform: translateY(10px); }
    10%  { opacity: 1; transform: translateY(0); }
    90%  { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
  }

  .animate-fade {
    animation: fade 5s ease-in-out infinite;
  }
}